body {
    background-image: url(images/background.jg);
    background-size: cover;
    background-position: center;


}

container {
    background-color: rgba(94, 248, 228, 0.8);
    /* Semi-transparent white */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 20%;
    max-width: 600px;
    text-align: center;
}